/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}
html {
  scroll-behavior: smooth;
}

body {
  font-size: 15px;
  position: relative;
}
body.not-scroll {
  overflow: hidden;
  max-height: 100vh;
}

.m-0 {
  margin: 0;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.font-alata {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
}
.font-josefin-sans {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}
.subtitle-h2 {
  font-size: 2.3rem;
  font-weight: 300;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

/* Hero */
.card-hero-overlay {
  position: relative;
  display: flex;
  max-width: 100%;
  min-height: 90vh;
  overflow: hidden;
}
.card-hero-overlay .container {
  justify-content: center;
}

.card-hero-overlay .card-img {
  min-height: 100%;
  object-fit: cover;
  object-position: -300px top;
}

.card-hero-overlay .card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.card-hero-overlay .content-hero {
  box-sizing: border-box;
  border: 2px solid var(--white);
  color: var(--white);
  font-size: 1.3rem;
  letter-spacing: 1.2px;
  line-height: 1.15;
  max-width: 350px;
  padding: 20px;
  text-transform: uppercase;
}

.card-hero-overlay .content-hero h1 {
  margin: 0;
  font-size: 2.7rem;
}
/* End Hero*/

/* Who we are */
#who-we-are {
  max-width: 100%;
  overflow: hidden;
  padding: 3rem 15px;
}
#who-we-are .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  padding-top: 3rem;
}
#who-we-are .row .column {
  flex: 1 1 50%;
  padding: 0 15px;
}
#who-we-are .picture-image {
  display: block;
  width: 100%;
  height: auto;
}
#who-we-are .picture-image img {
  width: 100%;
}

#who-we-are .content-text-description {
  color: var(--black);
  text-align: center;
}
#who-we-are .content-text-description h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-top: 3rem;
}
#who-we-are .content-text-description p {
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--dark-gray);
  margin: 0;
}
/* End Who we are */

/* Post List */

#post-list {
  max-width: 100%;
  overflow-x: hidden;
  padding: 30px 0;
}
#post-list .column {
  width: 100%;
}
#post-list .subtitle-h2 {
  text-align: center;
}

#post-list .card-group {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 0 15px;
  gap: 20px;
}

.card-post-overlay {
  box-shadow: -7px 7px 12px -4px rgba(29, 29, 29, 0.185);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  max-height: 130px;
}

.card-post-overlay .card-img {
  min-height: 100%;
  object-fit: cover;
  object-position: center;
  min-width: 100%;
}

.card-post-overlay .card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.034);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  color: var(--white);
}

.card-post-overlay:hover .card-img-overlay,
.card-post-overlay:focus .card-img-overlay {
  background-color: rgba(216, 213, 213, 0.658);
  cursor: pointer;
  color: var(--black);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.card-post-overlay .card-title {
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0;
  max-width: 210px;
  padding: 20px 2rem;
}

.btn-container {
  padding-top: 25px;
  display: none;
}
.btn-all {
  background: var(--black);
  color: var(--white);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: 0.4px;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  padding: 13px 40px;
}

@media (min-width: 576px) {
  #post-list .card-group {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
  }
}
/* Media Query Tablet */
@media (min-width: 768px) {
  .container {
    padding: 0 15px;
    box-sizing: border-box;
  }
  .card-hero-overlay .card-img-overlay {
    justify-content: left;
    padding-left: 60px;
  }
  .card-hero-overlay .card-img {
    object-position: -400px center;
  }
  .card-hero-overlay .content-hero {
    max-width: 460px;
    padding: 30px 45px;
  }
  .card-hero-overlay .content-hero h1 {
    font-size: 3.2rem;
  }

  .card-hero-overlay .container {
    justify-content: flex-start;
  }

  #post-list .container {
    padding: 4rem 15px;
  }
  #post-list .card-group {
    justify-content: space-between;
    padding: 0;
  }

  .card-post-overlay {
    max-height: 390px;
    width: 48%;
  }

  .card-post-overlay .card-title {
    padding: 2.2rem;
  }
}
/* End Media Query Tablet */

/* Media Query Desktop */
@media (min-width: 1200px) {
  .container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0;
  }
  .card-hero-overlay {
    min-height: 105.5vh;
  }
  .card-hero-overlay .card-img-overlay {
    justify-content: left;
    padding-left: 0;
  }
  .card-hero-overlay .card-img {
    min-width: 100%;
    object-position: center;
  }
  .card-hero-overlay .content-hero {
    max-width: 652px;
    padding: 38px 45px 26px 38px;
    box-sizing: border-box;
    margin-top: 5.2rem;
  }
  .card-hero-overlay .content-hero h1 {
    font-size: 4.4rem;
    line-height: 1;
  }

  /* Who We Are */
  #who-we-are .row {
    gap: 20px;
    padding-top: 7rem;
    position: relative;
    width: 100%;
  }
  #who-we-are .row .column {
    flex: none;
    display: flex;
  }
  #who-we-are .row .column:first-of-type {
    width: 730px;
    padding: 0;
  }
  #who-we-are .row .column:nth-of-type(2) {
    background-color: var(--white);
    max-width: 545px;
    position: absolute;
    padding: 0;
    right: -5px;
    bottom: 0;
  }
  #who-we-are .content-text-description {
    padding: 6rem 0 0 6.1rem;
    text-align: left;
    width: 100%;
  }
  #who-we-are .content-text-description h2 {
    font-size: 3.14rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.1rem;
    margin-bottom: 1.4rem;
  }
  #who-we-are .content-text-description p {
    font-size: 0.94rem;
    line-height: 1.65;
  }

  #post-list .container {
    padding: 0;
    margin-top: 5.79rem;
    margin-bottom: 7.8rem;
  }
  .btn-container {
    display: block;
  }
  #post-list .card-group {
    gap: 35px 30px;
  }

  #post-list .title-section {
    display: flex;
    justify-content: space-between;
  }

  #post-list .subtitle-h2 {
    font-size: 3rem;
    margin-bottom: 4.3rem;
    text-align: left;
  }
  .card-post-overlay {
    max-height: 447px;
    width: 22.9%;
  }
  #post-list .card-title {
    font-size: 1.9rem;
    line-height: 1;
    letter-spacing: 1px;
    max-width: 255px;
    padding: 2rem 2.5rem;
  }
}
/* End Media Query Desktop */

/* Media Query Desktop > 1440px */
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
/* End Media Query Desktop */
