/* Navigation bar */
.main-header {
  background-color: transparent;
  padding-top: 20px;
  position: fixed;
  width: 100%;
  max-width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}
.main-header.scrolled {
  background-color: var(--black);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: 1s all;
  padding-top: 8px;
}

.main-header nav {
  height: 60px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
.main-header nav .container {
  padding-top: 10px;
  justify-content: space-between;
}
.main-header nav .navbar-brand {
  display: flex;
  z-index: 4;
}

.main-header nav .navbar-toggler:hover,
.main-header nav .navbar-toggler:focus {
  outline: none;
}
.main-header nav .navbar-toggler {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 1rem;
  z-index: 5;
  pointer-events: visible;
  cursor: pointer;
  width: 40px;
  height: 30px;
  outline: none;
  margin-right: 8px;
}
.main-header nav .navbar-toggler span {
  content: '';
  background-color: var(--white);
  border-radius: 1px;
  display: block;
  position: absolute;
  height: 3px;
  transform-origin: 50% 50%;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,
    transform 0.2s linear;
  width: 34px;
  right: 2px;
}
.main-header nav .navbar-toggler span:before,
.main-header nav .navbar-toggler span:after {
  background-color: var(--white);
  border-radius: 1px;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  transform-origin: 50% 50%;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,
    transform 0.2s linear;
  width: 34px;
}
.main-header nav .navbar-toggler span:before {
  top: 8px;
}
.main-header nav .navbar-toggler span:after {
  top: -8px;
}

.main-header nav .navbar-toggler.active span {
  background-color: transparent;
}
.main-header nav .navbar-toggler.active span:before,
.main-header nav .navbar-toggler.active span:after {
  transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
}
.main-header nav .navbar-toggler.active span:before {
  top: 0;
  transform: rotate3d(0, 0, 1, -45deg);
}
.main-header nav .navbar-toggler.active span:after {
  top: 0;
  transform: rotate3d(0, 0, 1, 45deg);
}

.main-header nav .navbar-collapse {
  background-color: var(--black);
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  z-index: 1;
}
.main-header nav .navbar-collapse.show {
  height: 100vh;
  min-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  padding: 20px;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,
    transform 0.2s linear;
}
.main-header nav .collapse:not(.show) {
  display: none;
}
.main-header nav .navbar-nav {
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 15px;
  list-style: none;
}
.main-header nav .navbar-nav li {
  margin-bottom: 30px;
}
.main-header nav .navbar-nav a {
  color: var(--white);
  text-decoration: none;
  position: relative;
}
nav ul.navbar-nav a:hover::before,
nav ul.navbar-nav a:focus::before,
nav ul.navbar-nav a.active::before {
  content: '';
  border-radius: 1px;
  position: absolute;
  width: 46%;
  margin-left: 28%;
  height: 2px;
  background-color: var(--white);
  bottom: -13px;
  left: 0;
  transition: background-color 0.2s ease-in-out;
}

/* Media Query Desktop */
@media (min-width: 1200px) {
  .main-header {
    padding-top: 60px;
  }
  .main-header nav .container {
    justify-content: space-between;
    gap: 20px;
  }
  .main-header nav .navbar-brand {
    display: block;
    margin-top: -3px;
    width: 192px;
  }
  .main-header nav .navbar-brand img {
    width: 100%;
  }
  .main-header nav .navbar-toggler {
    display: none;
  }
  .main-header nav .navbar-collapse {
    background-color: transparent;
    display: flex !important;
    flex-basis: auto;
    max-width: 80%;
  }
  .main-header nav .navbar-nav {
    font-size: 0.93rem;
    font-family: 'Alata', sans-serif;
    flex-direction: row;
    justify-content: flex-end;
    gap: 34px;
    letter-spacing: 1.13;
    padding-top: 4px;
    padding-left: 0;
    text-transform: capitalize;
    width: 100%;
  }
}
/* End Media Query Desktop */
